<section class="nav">
    <p id="title">CRUDer</p>
    <nav>
        <a href="/"><i class="fas fa-home me-1"></i> Home </a>
        <a href="/home"><i class="fas fa-home me-1"></i> Dash Board</a>
        <a href="/add"><i class="fas fa-user-plus me-1"></i> Add User</a>
        <a href="/about"><i class="fas fa-globe me-1"></i> About</a>
    </nav>
</section>